<center>
    <a href="https://www.aims-senegal.org/" ><img src="aimssn_logo.png" style="float:center; max-width: 600px; display: inline" alt="IMSP"/> </a>
    </center>
    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Practicals: Variables, Types & Operations </span> </b></center>

**Exercise 00:**  

> 1. Declare a variable `firstname` and assign it a value.
> 2. Declare a `lastname` variable and assign a value to it.
> 3. Declare a `full_name` variable and assign it a value.
> 4. Declare a `country` variable and assign it a value.
> 5. Declare a variable `city` and assign it a value.
> 6. Declare a `age` variable and assign it a value.
> 7. Declare a variable `year` and assign it a value.
> 8. Declare a variable `is_marrie` and assign it a value.
> 9. Declare a variable `is_true` and assign it a value.

> For each of the above variable, display the value it contains using the `print()` function.

In [19]:
firstname="waly"
print(firstname)
lastname="faye"
print(lastname)
full_name="waly faye"
print(full_name)
country="senegal"
print(country)
city="dakar"
print(city)
age=29
print(age)
year=1992
print(year)
is_marrie="yes"
print(is_marrie)
is_true="yes"
print(is_true)

waly
faye
waly faye
senegal
dakar
29
1992
yes
yes

**Exercise 01:** 
> Check the data type of all your variables using the built-in function `type()`.**

In [13]:
type(firstname)

str

In [14]:
type(lastname)

str

In [15]:
type(full_name)

str

In [16]:
type(country)

str

In [17]:
type(city)

str

In [20]:
type(age)

int

In [21]:
type(year)

int

In [22]:
type(is_marrie)

str

In [23]:
type(is_true)

str

**Exercise 02:** 
> Calculate the value of $y$ ($y = x^2 + 6x + 9$). Try using different values of $x$ and determine at what value of $x$ will $y$ be equal to 0.**

In [25]:
x=float(-3)
y=x**2+6*x+9
print(x,y)

-3.0 0.0

**Exercise 03:** 
>    
     1. Declare your age as an integer variable
     2. Declare your height as a float variable
     3. Declare a variable that stores the base and height of a triangle. Calculate the area of this triangle (area = 0.5 x b x h).

In [ ]:
age=26
print(age)
heigh=1.75

In [28]:
b=5
h=1.75
triangle=(b,h)
print(triangle)
aire=0.5*b*h
print(aire)

(5, 1.75)
4.375

## *Tip: receiving input from the user *
**To receive an input from the user, we use `input()`.**.

**Example**
Receive two numbers as input from the user and calculate their power:
```python
base = input("Enter a base: ")
exponent = input("Enter an exponent: ")
result = float(base) ** float(exponent)
print(f "{base} to the power of {exponent} = {result}")
```

**Exercise 04:** 
> **Write a small code that asks the user to enter the side $a$, the side $b$ and the side $c$ of a triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).**

In [31]:
a=input("veuillez entrer un side a: ")
b=input("veuillez entrer un side b: ")
c=input("veuillez entrer un side c: ")
perimeter=float(a) +float(b)+float(c)
print(perimeter)

veuillez entrer un side a: 5
veuillez entrer un side b: 7
veuillez entrer un side c: 8
20.0

**Exercise 05:** 
> **Obtain the length and width of a rectangle using the prompt. Calculate its `area`and its `perimeter`.**

In [8]:
longueur=input("veuillez entrer une longueur: ")
print(longueur)
largeur=input("veuillez entrer une largeur: ")
perimeter= (float(longueur)+float(largeur))*2
print(perimeter)
aire=float(longueur)*float(largeur)
print(aire)

veuillez entrer une longueur: 7
7
veuillez entrer une largeur: 5
24.0
35.0

**Exercice 06:** 
> **Obtenez le rayon d'un cercle en utilisant l'invite. Calculez l'aire (aire = pi x r x r) et la circonférence (c = 2 x pi x r) où pi = 3,14.**

In [2]:
r=input("veuillez entrer un rayon: ")
print(r)
pi=3.14
aire= float(pi)*float(r)*float(r)
print(aire)
circonference=2*float(pi)*float(r)
print(circonference)

veuillez entrer un rayon: 5
5
78.5
31.400000000000002

**Exercice 07:**
> **Calculez la pente, l'ordonnée à l'origine en x et l'ordonnée à l'origine en $y$ de $y = 2x -2$.**

In [9]:
x1=1
x2=2
y1=0
y2=2
delta_x=(x2-x1)
delta_y=(y2-y1)
pente=float(delta_y)/float(delta_x)
print(pente)

2.0

In [12]:
x=0
y=2*x-2
print(y)

-2

In [14]:
y=0
x=(y-2)/2
print(x)

-1.0

**Exercice 08:** 
> **Rédigez un script qui demande à l'utilisateur d'entrer les heures et le taux horaire. Calculez la rémunération de la personne ?**

In [16]:
heure=input("donner l'heure de travail: ")
taux=input("donner le taux par heure: " )
R=float(taux)*float(heure)
print(R)

donner l'heure de travail: 8
donner le taux par heure: 1000
8000.0

**Exercice 09:** 
> **Écrivez un script qui demande à l'utilisateur d'entrer le nombre d'années. Calculez le nombre de secondes qu'une personne peut vivre. Supposons qu'une personne puisse vivre cent ans.**

In [21]:
Aly=100
jours=float(100)*float(365)
print(jours)
heure=24*float(jours)
print(heure)
seconde=3600*float(heure)
print(seconde)

36500.0
876000.0
3153600000.0

**Exercice 10:** 
> **Écrivez un script Python qui affiche le tableau suivant**

    1 1 1 1 1
    
    2 1 2 4 8
    
    3 1 3 9 27
    
    4 1 4 16 64
    
    5 1 5 25 125

In [28]:
print(1,1,1,1,1)
print()
print(2,1,2,4,8)
print()
print(3,1,3,9,27)
print()
print(4,1,4,16,64)
print()
print(5,1,5,25,125)

1 1 1 1 1

2 1 2 4 8

3 1 3 9 27

4 1 4 16 64

5 1 5 25 125

**Exercise 11:** 
>**Assign the variables `time` and `distance` with the values $6.892$ and $19.7$. Calculate and display the value of the speed. Improve the display by imposing a digit after the decimal point.**

In [67]:
time=6.892
distance=19.7
speed=(float(distance)/float(time))
print(" %.1f" %speed)

 2.9

**Exercice 12:** 
> **Écrire un programme qui, à partir de la saisie d’un rayon et d’une hauteur, calcule levolume d’un cône droit.**

In [51]:
r=input("le rayon du cone est: ")
h=input("la hauteur du cone est: ")
pi=3.14
B=float(pi)*float(r)*float(r)
print(B)
volume=(float(B)*float(h))/3
print(volume)

le rayon du cone est: 4
la hauteur du cone est: 15
50.24
251.20000000000002

**Exercise 13:** 
> **The user gives a positive integer and the program announces how many times in a row this integer is divisible by 2.**

In [90]:
n=int(input("donner un nombre positve: "))
if n%2 != 0:
    print("n'est pas divisible par 2")
else :
    for i in range(0, n):
        if 2*i == n:
            print(i)

donner un nombre positve: 2
1

**Exercise 14:** 
>**The user gives an integer between 2 and 12, the program gives the number of ways to do this by rolling two dice.

In [89]:
n = int(input("entrer un nombre"))
if n >=2 and n <=12:
    print(n)
else:
    print("entrer un nombre compris entre 2 et 12")
d1 =[1,2,3,4,5,6]

d2 =[1,2,3,4,5,6]
for i in range (0, len(d2)):
    for j in range (0, len(d2)):
        d = d1[i]+ d2[j]
    if d == n :
        print (d1[i], d2[j])

entrer un nombre2
2

**Exercice 15:** 
> **Utilisez la fonction d'entrée intégrée `input()` pour obtenir le `_prénom_`, le `_nom_`, le `_pays_d_origine` et l'`_age_` d'un utilisateur et stockez la valeur dans les noms des variables correspondantes.**

In [68]:
prenom=input("donner prenom de l'utilisateur: ")
nom=input("donner son nom de famille: ")
pays=input("donner sonnom du pays d'origine: ")
age=input("donner son age  ")

donner prenom de l'utilisateur: waly
donner son nom de famille: faye
donner sonnom du pays d'origine: senegal
donner son age  29

In [ ]:
**Exercice 16:** 

**Déclarer $5$ comme `num_one` et $4$ comme `num_two`**

   1. Additionner `num_one` et `num_two` et affecter la valeur à une variable `totale`.
   2. Soustraire `num_two` de `num_one` et affecter la valeur à une variable `diff`.
   3. Multipliez le `num_one` et le `num_two` et attribuez la valeur à une variable `produit`.
   4. Divisez le `num_one` par le `num_two` et attribuez la valeur à une variable `division`.
   5. Calculez `num_one` à la puissance de `num_two` et attribuez la valeur à une variable `exp`.

In [60]:
num_one=5
num_two=4
print(num_one+num_two)  
print('------------------------')


print(num_one-num_two)
print('------------------------')

print(num_one / num_two) 
print('------------------------')


print(num_one % num_two)  
print('------------------------')

print(num_one ** num_two)
print('------------------------')

9
------------------------
1
------------------------
1.25
------------------------
1
------------------------
625
------------------------

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS! / CONGRATULATIONS! 🎉 </span> </b></center>